.border-bottom {
	border-bottom: 1px solid #ddd;
}

.border-right {
	border-right: 1px solid #ddd;
}

.header {
    color: #666;
    font-weight: bold;
}

.align-center {
   text-align: center!important; 
}

.hover {
    visibility: hidden;
}


li:hover .hover {
    visibility: visible;
}

.greyed {
    color: #ccc;
}

td, th {
    color: #666;
}


body { 
    padding-top: 70px; 
}



.modal {
    /* new custom width */
    width: 1200px;
     must be half of the width, minus scrollbar on the left (30px) 
    margin-left: -600px;
}


/*td.align-right {
    text-align: right!important;
}

td.align-left {
    text-align: left!important;
}

th, td {
    background-color: white;
}*/