.border-bottom {
	border-bottom: 1px solid #ddd;
}

.border-right {
	border-right: 1px solid #ddd;
}

.header {
    color: #666! important;
    font-weight: bold;
}

.align-center {
   text-align: center!important; 
}

.hover {
    visibility: hidden;
}


li:hover .hover {
    visibility: visible;
}

.greyed {
    color: #ccc;
}

.greyed:hover {
    color: #ccc;
}

td, th {
    color: #666;
}


body { 
    padding-top: 70px; 
}

.modal-dialog {
    /* new custom width */
    width: 90%;
}
