<!DOCTYPE HTML>
<html lang="en" ng-app="appModule">
  <head>
    <title>PM's Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <LINK REL="SHORTCUT ICON" HREF="img/fav/board-icone-7799.ico">

    
    <!-- JQuery -->
      <script src="jslib/jquery/jquery-2.0.3.min.js"></script>

    <!-- AngularJS -->
      <script type="text/javascript" 
              language="javascript" 
              src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <!-- Twitter bootstrap -->
      <script src="jslib/bootstrap/js/bootstrap.min.js"></script>
      <link  href="jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">


    <!-- Moment JS -->
      <script src="jslib/moment.min.js"></script>   


    <!-- Chart JS -->
      <script src="jslib/chart.min.js"></script>



    <!-- custom -->
    <LINK REL="StyleSheet" HREF="css/main.css" TYPE="text/css">

    <script type="text/javascript" language="javascript" src="settings.js"></script>

    <script type="text/javascript" language="javascript" src="app/app.js"></script>
    <script type="text/javascript" language="javascript" src="app/_utils/customDataLoader.js"></script>
    <script type="text/javascript" language="javascript" src="app/controllers/appCtrl.js"></script>
    <script type="text/javascript" language="javascript" src="app/controllers/dataCtrl.js"></script>

    <script type="text/javascript" language="javascript" src="app/services/modalsSrvc.js"></script>
    <script type="text/javascript" language="javascript" src="app/services/issueGridSrvc.js"></script>
    <script type="text/javascript" language="javascript" src="app/services/burnDownChartSrvc.js"></script>
    <script type="text/javascript" language="javascript" src="app/services/dbSrvc.js"></script>
    <script type="text/javascript" language="javascript" src="app/services/dataLoadSrvc.js"></script>

    <script type="text/javascript" language="javascript" src="app/controllers/dataLoadCtrl.js"></script>
    <script type="text/javascript" language="javascript" src="app/controllers/mainCtrl.js"></script>

    <script type="text/javascript" language="javascript" src="app/controllers/projectCtrl.js"></script>
    <script type="text/javascript" language="javascript" src="app/controllers/statsCtrl.js"></script>



  </head>
  
  <body ng-controller="AppCtrl">

    <!-- Nav bar -->
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="img/board-icone-7799-16-custom.png"/> PM's Dashboard</a>
      </div>
      <ul class="nav navbar-nav">
        <li classz="active">
          <a href="https://redmine.firstlinesoftware.com/" target="_blank">Redmine</a>          
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li classz="active">
          <a href="" ng-click="fillDbClick()">Fill DB</a>
        </li>
        <li classz="active">
          <a href="" ng-click="debug()">Ang Debug</a>
        </li>
        <li classz="active">
          <a href="http://docs.couchdb.org/en/latest/" target="_blank">Couch DB Docs</a>
        </li>
        <li classz="active">
          <a href="http://docs.angularjs.org/guide/" target="_blank">Angular Guide</a>
        </li>              
        <!-- 
        <li class="pull-right">
          <a href="#myModal" role="button" data-toggle="modal">Help <i class="icon-question-sign icon-white"></i></a>  
        </li>
        -->
      </ul>
    </nav>

    <div class="container">
      <div ng-view></div>
    </div>

  </body>
</html>