<div class="row" ng-controller="ProjectCtrl">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading header">PROJECTS</div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="project in projects | orderBy:'title'"><a href="" 
        ng-click="projectClick(project)">{{project.title}}</a>
        <button type="button" class="btn btn-default btn-xs pull-right hover"
                ng-click="projectClick(project)"><i class="icon-refresh"></i></button>
        </li>



        <li class="list-group-item" >Dummy Project 1</li>
        <li class="list-group-item" >Dummy Project 2</li>
        <li class="list-group-item" >Dummy Project 3</li>
        <li class="list-group-item" >Dummy Project 4</li>
      </ul>
    </div>
  </div>
</div>

<!--
<div class="row-fluid" ng-controller="ProjCtrl">
  <div class="span12 wells well-small">
    <div class="btn-group pull-right">
      <a class="btn btn-mini btn" href="#"><i class="icon-plus zicon-white"></i> New Project</a>
    </div>    
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-header">Your projects</li>
      <li ng-repeat="project in projects | orderBy:'title'" 
          ng-class="{active:project.isSelected}"
          ><a href="" ng-click="projectClick(project)">{{project.title}}</a>
      </li>
    </ul>
  </div>
</div>
-->